*{
  box-sizing:border-box;
  margin:0;
  padding: 0;
}

body{
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

[class*="col-"]{
  width:100%;
  display: block;
}

$cols:18;
@media (min-width:600px) {
  .container {
    max-width: 1200px;
    margin:0 auto;
    width:100%;
    .row {
      @for $i from 1 through $cols{
        .col-#{$i}{
          float:left;
          min-height: 1px;
          width: 100%/$cols *$i;
          //border:1px solid orange;
          //gutter
          padding-left:10px;
        }
      }
      &:after, &:before {
        content: "";
        display: block;
        clear: both;
      }
    }
  }
}

.header{
  display:flex;
  justify-content: space-between;
  background-color: #4a4a49;
  height:5rem;
  border-bottom: 1px solid darken(#4a4a49,10%);
  h1{
    font-family: 'Charmonman', cursive;
    padding-top:1.2rem;
    padding-left:1rem;
    font-size:1.5rem;
    color:white;
    span{
      color:#E58A20;
    }
  }
  a{
    text-decoration: none;
    padding-top:1.5rem;
    font-size: 1.3rem;
    font-weight:400;
    padding-right:4rem;
    color:white;
    i{
      color:#E58A20;
      font-size: 2rem;
      vertical-align: middle;
      padding-left:10px;
    }
  }
}
.left{
  background-color: #5B605F;
  height:50rem;
  ul{
    list-style-type: none;
  }
  ul li{
    display: block;
    height:5rem;
    font-size:1rem;
    font-weight:400;
    padding-top:2rem;
    padding-left:0.5rem;
    position:relative;
    a{
      text-decoration: none;
      color:white;
    }
  }
  ul li:hover{
    font-weight: 800;
  }
  ul li:hover:before{
    content:"";
    display:block;
    width:0.5rem;
    height:5rem;
    position:absolute;
    top:0;
    left:-0.625rem;
    background-color: #E58A20;
  }

  ul li:hover:after{
    content:"";
    display:block;
    width:0.5rem;
    height:0.5rem;
    position:absolute;
    top:2.5rem;
    right:1rem;
    border-top:2px solid #E58A20;
    border-right:2px solid #E58A20;
    transform:rotate(45deg);
  }
}
.main{
  background-image: url("../images/image.png");
  height:50rem;
}

article.form{
  margin-top:1.5rem;
  margin-left:1.5rem;
  padding-top:5rem;
  height:48rem;
  width:100%;
  background-color: #FFFFFA;
  border:1px dashed lightgray;
  h2,h3,p{
    text-align:center;
    color:grey;
    font-size:3rem;
  }
  h3{
    font-size:2rem;
  }
  p{
    font-size:1.5rem;
    font-weight:bold;
  }
  p.errorMessage{
    color:#FFB03B;
  }
  input{
    height:1.5rem;
    width:15rem;
    margin:auto;
    display: block;
  }
  button{
    margin:auto;
    display: block;
    width:7rem;
    height:2rem;
    font-size:1.2rem;
    font-weight: bold;
    color:white;
    background-color: #E58A20;
    border:none;
  }
}

article.formLogIn {
  margin-top: 1.5rem;
  height: 48rem;
  width: 100%;
  margin-left: -10px;

  .upperRow {
    display: flex;

    .addRecipe, .addPlan {
      width: 200px;
      height: 176px;
      background-color: #FFFFFA;
      color: #468966;
      border: 2px dashed gray;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 20px;
      margin-right: 20px;
      font-weight: 400;


      a {
        display: block;
        text-decoration: none;
        color: #468966;
      }

      i {
        border: 8px solid #468966;
        border-radius: 15px;
        font-size: 50px;
        margin-bottom: 15px;
      }
    }

    .notifications {
      font-size: 19px;
      display: flex;
      flex-direction: column;
      width: 630px;
      font-weight: 400;

      .info {
        color: rgb(52, 152, 219);
        height: 50px;
        margin-bottom: 13px;
        border: 2px dashed rgb(52, 152, 219);
        display: flex;
        align-items: center;
        background-color: #FFFFFA;

        .fa-info-circle {
          font-size: 35px;
          padding: 5px;
          margin-right: 5px;
        }
        .fa-window-close {
          margin-left: 232px;
          margin-bottom: 22px;
        }
      }

      .exclamation {
        color: rgb(246, 175, 57);
        height: 50px;
        margin-bottom: 13px;
        border: 2px dashed rgb(246, 175, 57);
        display: flex;
        align-items: center;
        background-color: #FFFFFA;

        .fa-exclamation-circle {
          font-size: 35px;
          padding: 5px;
          margin-right: 5px;
        }

        .fa-window-close {
          margin-left: 270px;
          margin-bottom: 22px;
        }
      }

      .check {
        color: rgb(70, 137, 102);
        height: 50px;
        border: 2px dashed rgb(70, 137, 102);
        display: flex;
        align-items: center;
        background-color: #FFFFFA;

        .fa-check-circle {
          font-size: 35px;
          padding: 5px;
          margin-right: 5px;
        }

        .fa-window-close {
          margin-left: 21px;
          margin-bottom: 22px;
        }
      }
    }
  }

  .lowerRow {
    max-width: 1000px;
    width: 100%;
    background-color:#FFFFFA ;
    border: 2px dashed gray;
    padding: 10px;
    margin-top: 60px;

    .row {
      $cols: 7;
      [class*='col-']
      {
        min-height: 1px;
        float: left;
        width: 100%

      }

      @for $i from 1 through $cols {
        .col-#{$i} {
          float: left;
          min-height: 1px;
          width: 100%/$cols*$i;
        }
      }

      &:after, &:before {
        content: "";
        display: block;
        clear: both;

      }
    }
    .col-7{
      height: 40px;
      margin: 5px ;
      p{
        color: #E58A20;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
      }}
    .col-1{

      padding: 15px 10px;

      ul{
        list-style: none;
        line-height: 30px;
        margin-right: 25px;

        li{
          font-size: 16px;
          &:first-child{
            font-weight: bold;
            font-size: 18px;
          }
        }
      }
    }
    .col-7{
      span{
        color: #E58A20;
        display: inline-list-item;
        &:last-child{
          float: right;
        }
        padding-bottom: 10px;
      }
    }
  }

}

.hide{
  display:none;
}
#errorMessage {
  color:red;
}