// CDN FONTAWESOME
// <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
//
// Sass:
// https://fontawesome.com/how-to-use/on-the-web/using-with/sass

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  width: 1152px;
  display: flex;}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
}


header .container {
  height: 100px;
  background-color: #4a4a49;
  margin: 0 auto;



  .logo {
    justify-content: center;
    width: 40%;
    padding: 5px;

    h1 {
      font-family: 'Charmonman', cursive;
      display: flex;
      font-size: 40px;
      justify-content: left;
      align-items: center;
      margin: 10px;
      text-align: center;

      .logo1 {
        color: white;
        padding-right: 8px;
        padding-left: 10px;

      }

      .logo2 {
        color: #E58A20;

      }
    }
  }

  .menu {
    justify-content: right;
    width: 60%;
    padding: 20px;

  }

  .menu {
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 10px;


      li {
        text-decoration: none;
        display: list-item;
        padding-left: 10px;
        font-size: 14px;

        .orange {
          color: #E58A20;
        }

        a {
          color: white;
          text-decoration: none;

        }
      }
    }

  }
}



